@model IEnumerable<Person>

@{
}

<p style="margin-top: 15px;">
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i> Edit</a> 
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-eye"></i> Details</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>